{% block footer %}
	<footer class=" bg-dark container-fluid text-center text-lg-start">
		<div class="container d-flex justify-content-between py-5">
			<a href="#" aria-label="visiter notre facebook" class="text-decoration-none rounded-circle btn-primary btn-lg" style="background-color: #54456b;">
				<i class="fs-1 btn btn-dark bi bi-facebook"></i>
			</a>
			<a href="#" aria-label="visiter notre instagram" class="text-decoration-none rounded-circle btn-primary btn-lg" style="background-color: #54456b;">
				<i class="fs-1 btn btn-dark bi bi-instagram"></i>
			</a>
			<a href="#" aria-label="visiter notre" class="text-decoration-none rounded-circle btn-primary btn-lg" style="background-color: #54456b;">
				<i class="fs-1 btn btn-dark bi bi-twitter twitter"></i>
			</a>
			<a href="#" aria-label="visiter notre snapchat" class="text-decoration-none rounded-circle btn-primary btn-lg" style="background-color: #54456b;">
				<i class="fs-1 btn btn-dark bi bi-snapchat"></i>
			</a>
			<a href="#" aria-label="visiter notre" class="text-decoration-none rounded-circle btn-primary btn-lg" style="background-color: #54456b;">
				<i class="fs-1 btn btn-dark bi bi-discord discord"></i>
			</a>
		</div>
		<div class="text-center text-white rounded p-3" style="background-color: rgba(0, 0, 0, 0.2);">
			©
			{{ "now"|date("Y") }}
			Copyright
			<a class="text-white fw-bold text-decoration-none" href="/">Daily-movies</a>
		</div>
	</footer>
{% endblock %}
