{% extends 'base.html.twig' %}

{% block body %}

<section>
    <div  style="height: 100vh " class="container-fluid  bg-dark">
        <div class="container  text-centert ">
            <img width="100%"  src="{{ asset('assets/images/page-404.png') }}" alt="">
        </div>
    </div>
</section>

{% endblock %}